@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
}

div#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 150px;
    background-color: lightslategray;
    box-shadow: 1px 1px 3px black;
}

div#logo > a {
    font-size: 1.7em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

nav > ul > li:hover {
    transition: 0.2s;
    transform: translate(-3px, -2px);
    color: black;
    font-size: 1.3em;
    background-color: rgba(123, 185, 164, 0.24);
    border-radius: 5px;
}

div#barra-pesquisa {
    background-color: rgba(77, 132, 167, 0.575);
    box-shadow: 1px 1px 3px black;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

div#barra-pesquisa > input {
    border-radius: 5px;
    width: 220px;
    height: 25px;
    border: 0;
}

span.material-icons {
    color: white;
    padding: 5px;
    font-size: 1.2em;
}

div#conteudo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    background-color: rgb(148, 165, 113);
}

div.caixa {
    background-color: black;
    height: 200px;
    width: 250px;
    border-radius: 10px;
}

div#img1 {
    background: white url(../imagens/img1-celular.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

div#img2 {
    background: white url(../imagens/img2-fogão.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

div#img3 {
    background: white url(../imagens/img3-monitor.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

span.descricao {
    color: white;
    transform: translateY(122px);
}




